.loginRegister {
    display: none;
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    background-color: #FAEBD7;
    font-size: 18px;
    color: hsl(238, 26%, 37%);
    left: 0;
    top: 0;
    padding-top: 50px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
}

#firebaseui-auth-container input {
    width: 300px;
    height: 40px;
    padding-left: 10px;
    margin-left: 5px;
    border: 1px solid #FAD8B8;
    border-radius: 8px;
    background-color: #454776;
    color:#FAD8B8;
    font-size: 20px;
}

#firebaseui-auth-container button {
    width: 70px;
    height: 30px;
    border-radius: 10px;
    color: #FAD8B8;
    background-color: #454776;
    border: none;
    font-size: 15px;
    outline:none;
}

#firebaseui-auth-container label {
    font-size: 15px;
    display:  block;
}

#firebaseui-auth-container a {
    color: black;
}

.close:hover {
    cursor: pointer;
}