body {
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
}

.main {
    position: relative;
    margin: 10px auto;
    width: 718px;
    background-color: white;
    border: 3px solid #454776;
    min-height: 600px;
    border-radius: 15px;
}

.dayInfo {
    height: 250px;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #454776;
}

.day, .time {
    position: absolute;
    bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #FAD8B8;
}

.time {
    right: 5px;
}

.day {
    left: 5px;
}

.add {
    padding-left: 10px;
    position: absolute;
    left: 15px;
    bottom: 12px;
}

.input, .inputEdit {
    display: none;
    width: 600px;
    height: 40px;
    padding-left: 10px;
    margin-left: 20px;
    border: 1px solid #454776;
    border-radius: 8px;
    background-color: antiquewhite;
    color:#454776;
    font-size: 20px;
}

.inputEdit{
    position: absolute;
    bottom: 5px;
    right: 35px;
    z-index: 1;
}

input:focus {
    outline: none;
}

.list div {
    position: relative;
    width: 98%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #454776;
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
    color: rgb(114, 110, 110);
}
.list div span {
    padding-right: 10px;
}

.list div span:nth-child(2) {
    color: #454776;
    font-weight: normal;
    font-size: 20px;
}

.delete {
    position: absolute;
    right: 20px;
}  

.edit {
    position: absolute;
    right: 35px;
    top: 5px;
}

.empty {
    display: block;
    font-size: 30px;
    color: #454776;
    text-align: center;
    margin-top: 20px;
}