body {
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
}

.main {
    position: relative;
    margin: 10px auto;
    width: 718px;
    background-color: white;
    border: 1px solid #BAAEE7;
    min-height: 600px;
    border-radius: 15px;
}

.dayInfo {
    height: 250px;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.day, .time {
    position: absolute;
    bottom: 5px;
    font-size: 25px;
    font-weight: bold;
}

.time {
    right: 5px;
}

.day {
    left: 5px;
}

.add {
    padding-left: 10px;
    position: absolute;
    left: 15px;
    bottom: 12px;
}

.input {
    display: none;
    width: 600px;
    height: 40px;
    padding-left: 10px;
    margin-left: 20px;
    border: 1px solid #BAAEE7;
    border-radius: 8px;
    background-color: antiquewhite;
    color:#9186b9;
    font-size: 20px;
}

.input:focus {
    outline: none;
}

.list div {
    position: relative;
    width: 98%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #BAAEE7;
    font-size: 20px;
    padding-left: 10px;
    color: rgb(114, 110, 110);
}
.list div span {
    padding-right: 10px;
}

.list div span:nth-child(2) {
    color: #9C20B5;
}

.delete {
    position: absolute;
    right: 20px;
}  