body {
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
}

.main {
    position: relative;
    margin: 10px auto;
    width: 718px;
    background-color: white;
    border: 1px solid #BAAEE7;
    min-height: 600px;
    border-radius: 15px;
}

.dayInfo {
    height: 250px;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.day, .time {
    position: absolute;
    bottom: 5px;
    font-size: 25px;
    font-weight: bold;
}

.time {
    right: 5px;
}

.day {
    left: 5px;
}

.add {
    padding-left: 10px;
    position: absolute;
    left: 15px;
    bottom: 12px;
}

.input {
    width: 600px;
    height: 40px;
    padding-left: 10px;
    margin-left: 20px;
    border: 1px solid #BAAEE7;
    border-radius: 8px;
    background-color: antiquewhite;
    color:#9186b9;
    font-size: 20px;
    font-weight: bold;
}